.aboutUs-heade-img{
    height: 200px;
    background: url('/Assets/imgs/banner/banner.jpg') no-repeat;
    background-size: cover;
}
.aboutUs-heade-img_title{
    color: #ffff;
}
.aboutUs-content_txt{
    font-size: 12px;
    line-height: 32px;
    text-align: justify;
}