.aboutUs-heade-img{
    height: 200px;
    background-color:  rgb(14, 130, 253);

}
.aboutUs-heade-img_title{
    color: #ffff;
}
.aboutUs-content_txt{
    font-size: 12px;
    line-height: 32px;
    text-align: justify;
}