



/* .comments-item:nth-child(1):after,
.comments-item:nth-child(1):before{
    background: linear-gradient(235deg,#89ff00,#010615,#00bcd4);

}
.comments-item:nth-child(2):after,
.comments-item:nth-child(2):before{
    background: linear-gradient(235deg,#ff005e,#010615,#fbff00);

}
.comments-item:nth-child(3):after,
.comments-item:nth-child(3):before{
    background: linear-gradient(235deg,#772aff,#010615,#2196f3);

}

.comments-item .glass{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    display: block;
    background: rgba(255,255,255,.1);
    pointer-events: none;
} */