
.swiper {
    width:800px;
    height: 300px;
    margin-bottom: 50px;
  }
.swiper-slide{
  width: 200px;
    background-color:#08B89D;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.swiper-button-prev_custom::after,
.swiper-button-next_custom::after{
  background-color:rgba(0, 0, 0, 1);
  opacity: 1.9;
    padding: 10px;
    border-radius: 100%;
    color: #fff;
    font-size: 25px;
}
.swiper-button-prev_custom:focus,
.swiper-button-next_custom:focus{
  border: none;
  outline: none;
}
.userImg{
  width: 70px;
  height: 70px;
  border-radius: 100%;
}
.userImg img{
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.userName{
  font-size: 16px;
  color: #010101;
  text-align: center;
  margin: 10px 0;
}
.userComment{
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}