
.contact-us{
   width: 700px;
   height: auto;
   padding: 10px;
}
.contact-us_form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background:url('/Assets/imgs/banner/bg-contact.jpg') no-repeat;
    background-size: cover;
    background-position: right 0 bottom 0  ;
    border: 1px solid #10dabc;
    padding: 10px;
}

.form-element{
    margin-top: 15px;
}
.form-element input{
    border-radius: 3px;
    border: none;
    border: 1px solid lightgray;
    padding: 10px;
    width: 50%;
}
.form-element label{
    font-size: 12px;
    padding: 5px;
    text-wrap: nowrap;
}
::-webkit-input-placeholder{
    color: #ccc;
    text-align: right;
    direction: rtl;
    font-size: 10px !important;
}


input#UserNumber::-webkit-outer-spin-button,
input#UserNumber::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
}
textarea{
    width: 100%;
    resize: none;
    margin: 20px 10px;
        padding: 15px;
        border: none;
        border:  1px solid lightgray;
}
.contact-btn-form{
    border: none;
    padding: 10px;
    border-radius: 4px;
    background-color: #0ccaad;
    color: #fff;
}
