#Benefits-of-counseling{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Benefits-of-counseling_title span{
    font-size: 22px;
    padding: 0 10px 0 0;
    position: relative;
}

.Benefits-of-counseling_title span::after{
    content: "";
    width: 78px;
    height: 3px;
    position: absolute;
    top: 30px;
    left: 0;
    background-color: #08B89D;
}
.Benefits-of-counseling_wrapper-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.Benefits-of-counseling_item{
    width: 150px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.Benefits-of-img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    background-color: #96B6C5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -40px;
    left: 26%;
}
.Benefits-of-counseling_text{
    width: 60px;
    height: 200px;
    background-color: #ADC4CE;
    border-radius: 10px 10px 35px 35px ;
}
.Benefits-of-counseling_text h3{
    padding: 60px 0 0 0;
    text-align: center;
    color: #010101;
    font-size: 14px;
}
.Benefits-of-img-2{
    background-color :#F8BB94;
}
.Benefits-of-img-3{
    background-color:#FF78C4;
}
.Benefits-of-img-4{
    background-color:  #85E6C5;
}


.counseling_text-2{
    background-color :#dbae92c9;
}
.counseling_text-3{
    background-color :#FFBDF7;
}
.counseling_text-4{
    background-color :#C8FFE0;
}
