#Doctors-InfoBox{
display: flex;
flex-direction: column;
width: 100%;
}

.doctors-heade-img{
    width: 100%;
    height: 150px;
    position: relative;
}
.doctors-heade-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
   
}

.doctors-information{
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 1px 1px 5px 3px #ccc;
}
/* --------------------doctors-information_head--------------- */

.doctors-information_head{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height:auto;
}
.doctors-information_heade-leftBox{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}
.doctors-information_heade-leftBox--links{
    display: flex;
    justify-content: center;
    align-items: center;
}
.doctors-information_heade-leftBox--links span{
    margin-left: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 5px;
}
.doctors-information_heade-leftBox--links .offer{
    background-color: rgb(36, 184, 36);
}
.doctors-information_heade-leftBox--links .offer:hover{
    background-color: rgb(31, 148, 31);
}
.doctors-information_heade-leftBox--links .not-suggest{
    background-color: red;
}
.doctors-information_heade-leftBox--links .not-suggest:hover{
    background-color: rgb(236, 101, 101);
}
.doctors-information_heade-leftBox--links .Reservation{
    background-color: #ccc;
}
.doctors-information_heade-leftBox--links span .custom-icon{
    color: #ffff;
    font-size: 18px;
    padding:  5px 0 3px 0;
}
.doctors-information_heade-leftBox--links span i{
    color: white !important;
}
.doctors-information_heade-leftBox--links span a{
    font-size: 10px;
    color: #010101 !important;
}
.doctors-information_heade-rightBox{
    width: 40%; 
    display: flex;
    justify-content: flex-start;
    align-items: end;
}
.heade-rightBox_itemRight{
    width: 50%;
    height: 100px ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.heade-rightBox_itemRight-img{
    width: 70px;
    height: 70px;
    position: absolute;
    top: -30px;
    right: 30%;
    z-index: 20;
}
.heade-rightBox_itemRight-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 100%;
    position: relative;
    border: 1px solid #ccc;
}
.heade-rightBox_itemRight-img .online-status{
    width: 10px;
    height: 10px;
    border-radius: 100%;
    position: absolute;
    bottom: 3px;
    right:10px;
    background-color: rgb(85, 135, 10);
}
.heade-rightBox_itemRight-status h6{
    margin: 50px 0 0 0 ;
    font-size: 12px;
    text-align: right;
}
.heade-rightBox_itemLeft{
    width: 50%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    padding-top: 10px;
}
.heade-rightBox_itemLeft h5{
    font-size: 16px;
}
.heade-rightBox_itemLeft h6{
    font-size: 10px;
   padding-right: 10px;
}
.heade-rightBox_itemLeft span.doctor-location{
    display: flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items: center;
    margin-top: 12px;
}
.heade-rightBox_itemLeft span h4.location-text{
    font-size: 12px;
}
.heade-rightBox_itemLeft span .doctor-address{
    margin-bottom: 7px;
    font-size: 12px;
}
.heade-rightBox_itemLeft span .location-icon{
    margin:0 0 10px 10px;
    font-size: 10px;
    color: red;
}

/* ------------------------doctors-information_items-------------- */

.doctors-information_items{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 200px;
    padding: 0 20px;
    margin: 50px 0 0 0 ;
}
.doctors-information_items-inner{
    width: 20%;
    height: 100%;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
}
.doctors-information_items-inner span{
    display: flex;
    flex-direction: column;
    margin-right: 16px;
}
.fa-certificate,
.fa-file,
.fa-comments,
.fa-exclamation,
.fa-star{
    color: rgb(228, 193, 105);
}
/* -----------------------health-centers------------------------- */

.health-centers{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;
    text-align: right;
    margin-top: 50px;
}
.health-centers_title{
    padding: 20px 15px;
}
.health-centers_title h6{
    margin-top: 12px;
    font-size: 12px;
}
.health-centersـinformation{
    width: 100%;
    height: 600px;
    padding: 30px 10px;
}
.health-centersـinformation--head{
    width: 90%;
    height: auto;
    background-color: #ddd;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:10px  20px;
    color: #010101;
}
.health-centersـinformation--head-boxright{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.information--head-boxright_item{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.information--head-boxright_item h6{
    margin: 3px 0 0 0 ;
    font-size: 14px;
}
.head-boxright_item-icon{
    margin-left: 22px;
    color: #08B89D;
}
.health-centersـinformation--head-boxright p{
 font-size: 12px;
 margin-top: 15px;
}
.information--head-boxleft_item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.information--head-boxleft_item .plus-icon{
    color: #08B89D;
    margin-right: 60px;
}
.information--head-boxleft_item-imgs img{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.information--head-boxleft_item-imgs span{
    font-size: 12px;
}