
#features{
    background-color: rgb(11,183,181);
    border-radius: 10px;
}
.features-p{
    font-size: 13px;
}

.features-icon{
    color: rgb(11,183,181);
    font-size: 12px;
    margin-left: 10px;
}
.features-box-item p{
    font-size: 14px;
    padding-top: 10px
}