#item-1{
    background-image: linear-gradient(
        145deg,
        hsl(171deg 92% 38%) 0%,
        hsl(168deg 50% 51%) 13%,
        hsl(167deg 48% 59%) 28%,
        hsl(166deg 47% 65%) 43%,
        hsl(165deg 47% 71%) 57%,
        hsl(164deg 47% 77%) 68%,
        hsl(164deg 47% 83%) 78%,
        hsl(163deg 47% 89%) 86%,
        hsl(163deg 47% 94%) 94%,
        hsl(0deg 0% 100%) 100%
      );
}
.header-navbar {position: relative;}
.header-top-menu nav{
    display: flex;
    justify-content: space-around;
    width:100%;
    height: 50px;
    position: relative;
    direction: rtl;

}
.header-top-menu nav a{
    line-height: 50px;
    z-index: 1;
    text-align: center;
    padding: 0 10px;
    font-size: 14px;
}
.animate-ul{
   position: absolute;
   height: 100%;
   z-index: 0;
   border-radius: 8px;
   transition: margin .5s;
   width: 100%;
}
a#counseling{
    color: #010101;
}
a#counseling:hover,
a#counseling:active{
    color: #010101;
}

#search-form
{
    padding: 5px;
    color: #eee;
    display: flex;
    align-items: center;
}
#search-form:is(input,button){
    color: inherit;
    border: none;
    background: transparent;
    outline: none;
}
#search-input{
    width: 0px;
    outline: none;
    transition: width .5s;
}
.search-btn{
    width: 25px;
    height: 25px;
    display: grid;
    place-items: center;
    cursor: pointer;
    
}

#search-form:focus-within input{
    width: 170px;
    background-color: red;
}

::placeholder{
    color: lightgray;
    text-align: right;
}

#carouselExampleControls{
    width: 100% !important;
    height: 80vh;
 }

 #text-writer{
    width:100%;
    height: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px ;
   color: rgb(192, 193, 198);
 }


 .header-item1{
    width: 15%;
 }
.search-icon{
    margin-right: 10px;
    color: #d8d4d4;
}
 