

.header-content_boxRight--title{
    width: 100%;
    font-size: 22px;
    line-height: 33px;
}

.Online-consultation-text {
    font-size: 25px;
    font-weight: bold;
    color: rgb(14,130,253);
    margin: 0 10px;
    animation:  opacity;
}
.header-content_boxRight--mute{
    text-align: right;
    font-size: 12px;
    line-height: 32px;
}

.header-content_boxRight--item{
background-color: rgb(14,130,253);
border-radius: 5px;
padding: 10px;
text-align: center;
}

.header-content_boxRight--link{
    color: #ffff;
    font-size: 14px;
}





.header-content-boxImg{
    overflow: hidden;
}






@keyframes opacity{
    0%{opacity: 0;}
    100%{opacity: 1;}
    }