.mySwiper-list_item{
    border: 1px solid rgb(14,130,253);
    border-radius: 6px;
    transition: all .5s ease;
}
.mySwiper-list_item:hover{
    background-color: rgb(14,130,253);
    color: #fff;
}
.doctor-reserve{
    font-size: 12px !important;
    color: #ffff;
    background-color: rgb(14,130,253);
}
.mySwiper-list_item:hover > .doctor-reserve{
    background-color: #ffff;
    color: rgb(14,130,253) ;
}
.doctor-ImageUrl {
    width:100px;
    height:100px;
    object-fit: cover;
}
.doctor-Speciallity,
.doctor-NezamCode{
    font-size: 12px;
}
.doctor-name,
.doctor-Speciallity,
.doctor-NezamCode{
    color: #010101;
}
