.header-nav_login--itemRight {
  width: 80px;
  height: 100%;
  background-color: rgb(14, 130, 253);
  margin-left: 5px;
  padding: 5px;
  border-radius: 4px;
  font-size: 15px;
  transition: all 0.5s ease;
}

.header-nav_login--itemRight:hover {
  background-color: rgba(27, 101, 179, 0.842);
}
.login-icon {
  font-size: 12px;
  color: #ffff;
}
