#appointments{
    height: auto;
    
    background-color: rgb(14, 130, 253);
}
.appointments-items{
    background-color: #ffff;
    border: 1px solid rgb(14, 130, 253);
    font-size: 12px;
    color: #010101;
}
.appointments-items_btn{
    background-color: rgb(14, 130, 253) !important;
    color: #ffff;
    font-size: 12px;
    transition: all 0.5s ease-in;
}
.appointments-items_btn:hover{
    color: #ffff;
    background-color: rgb(13, 106, 205) !important;

}
