.mySwiper-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.mySwiprt-list_items{
  width: 250px;
  height: 200px;
  margin-top: 12px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: 1px solid #08B89D;
  transition : "0.5s ease";
}

.mySwiprt-list_items-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mySwiprt-list_items-title--text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.doctor-name{
    font-size: 15px !important;
    margin-left: 15px;
}
.Speciallity{
    display: block;
    font-size: 13px !important;
    margin-top: 22px;
    text-wrap: nowrap;
}
.ratingAndCode{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nezamCodeH6{
    text-align: center;
    margin-top: 12px;
}
.mySwiprt-list_items-title--text h6{
 font-size: 12px;
 margin-left: 15px;
}
.mySwiprt-list_items-title--text h5{
    font-size: 17px;
}
.mySwiprt-list_items-title{
    width: 200px;
    height: 200px;
}
.mySwiprt-list_items-title span{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.mySwiprt-list_items-title--img{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}



