.mySwiper-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.mySwiprt-list_items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    border: 1px solid #c7c7c7;
    padding: 5px;
    border-radius: 10px;
    margin-top: 12px;
    transition: 0.5s ease;
}
.mySwiprt-list_items:hover{
    margin-top: -10px;
}
.mySwiprt-list_items-title{
    display: flex;
    justify-content: center;
    align-items: center;
}
.mySwiprt-list_items-title--text{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mySwiprt-list_items-title--text h6{
 font-size: 12px;
 margin-left: 15px;
}
.mySwiprt-list_items-title--text h5{
    font-size: 17px;
}
.mySwiprt-list_items-title{
    width: 200px;
    height: 200px;
}
.mySwiprt-list_items-title span{
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
