@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  .contact-us,
  .services-parent,
  .introduce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .introduce-content {
    width: 100%;
  }
  .introduce-content p {
    padding: 10px;
  }
  .services-item {
    margin-top: 10px;
  }

  .footer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    direction: rtl;
  }

  .Benefits-of-counseling_item {
    width: 100px;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
  }
  .Benefits-of-img {
    left: 15%;
  }

  .header-content-img {
    display: none;
  }
  .header-content-boxRight {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .header-content-boxRight h6 {
    font-size: 18px;
  }
 
}

@media screen and (max-width: 480px) {
  #ElectronicSymbol {
    display: none;
  }
  .header-content-boxRight p {
    font-size: 10px;
  }
}

@media (pointer: fine) {
  li {
    padding: 10px;
  }
}
@media (pointer: coarse) {
  li {
    padding: 20px;
  }
}
