#services{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    width: 100%;
    height: auto;
    background-color: rgb(11,183,181);
}

.services-parent{
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.services-item {
    position: relative;
    width: 22%;
    height: 250px;
    border-radius: 10px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #fff ;

  }

.services-item img{
    width: 100px;
    height: 100px;
}
.services-item span h5{
    font-size: 16px !important;
    color: #010101;
}

.services-item span h6{
    font-size: 12px !important;
    color: #010101;
}

