@import './_Fonts.css';
@import './_Utilites.css';
@import './_DedicatedScroll.css';
@import './_Login.css';
@import './_Search-bar.css';
@import './_Loader.css';
@import './_Navbar.css';
@import './_HeaderContent.css';
@import './_Services-item.css';
@import './_MySwiper.css';
@import './_Features.css';
@import './_Contact.css';
@import './_Footer.css';
@import './_Doctors-advice.css';
@import './_Doctors-Search.css';
@import './_Questions.css';
@import './_Responsive.css';





*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'myFont'; 
    border: none;
    outline: 0;
    list-style: none;
}
html{
    scroll-behavior: smooth !important;
}
a,
a:active,
a:hover{
    text-decoration: none;
}

small{
    text-align: right !important;
}


