@import './_Fonts.css';
@import './_Utilites.css';
@import './_DedicatedScroll.css';
@import './_Login.css';
@import './_Search-bar.css';
@import './_Loader.css';
@import './_Navbar.css';
@import './_HeaderContent.css';
@import './_Services-item.css';
@import './_MySwiper.css';
@import './_Banner.css';
@import './_Comments.css';
@import './_Contact.css';
@import './_Footer.css';
@import './_Doctors-advice.css';
@import './_Doctors-Search.css';
@import './_Questions.css';
@import './_Responsive.css';





*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'MyFont'; 
    user-select: none;   
    border: none;
    outline: 0;
}
html{
    scroll-behavior: smooth !important;
}

li,ul,li{
    list-style: none;
}
small{
    text-align: right !important;
}

a,
a:hover,
a:active{
    text-decoration: none;
}
a:hover,
.a:active{
    color: #010101;
}
a{
    color: #828080;
}
.active{
    color: #08B89D;
}

.header-top,.item,.header-item1{
    display:flex; 
    align-items: center;
}
.header-item{
    display: flex;
} 
/* .div-style{
    width: 600px;
    height: 400px;
    padding: 30px;
} */
.div-item{
    width: 200px;
    height: 300px;
}

